    <!--Snow animations-->
    <div class="bg-animation">
        <div id="stars"></div>
        <div id="stars2"></div>
        <div id="stars3"></div>
        <div id="stars4"></div>
    </div>
    <!--Main content-->
    <div class="main-box">
        <div>
            <p>Bem-vindo ao Wea-ther!</p>
            <input id="enter" id="resultSpeak" class="input-city" placeholder="Insira sua cidade">
            <button onclick="btnsearch()" class="btn-search"> <img class="icons" src="https://www.svgrepo.com/show/488200/find.svg" alt="Search"></button>
            <button id="speakBtn" class="btn-voice"> <img class="icons" src="/assets/img/audio.svg" alt="Search"></button>            
            <div style="color: rgb(236, 67, 67); display: none;" id="showError" >Por favor, insira um nome de cidade válido!</div>
            <p class="temp"> 00°C </p>
            <h2 class="city"> Cidade </h2>
            <img class="weather-icon" src="https://openweathermap.org/img/wn/04n.png" alt="Clouds"> 
            <p class="prev"> Condições climáticas </p>
            <p class="humidity"> Umidade </p>
        </div>
    </div>

<!--Scripts-->
<script src="/assets/scripts/script.js"></script>

 <script>
    fetch('http://localhost:3000/api')
    .then(response => {
        if(response.ok) {
            return response.json()
        } else {
            console.error('Erro ao buscar dados da api: ', response.status)
        }
    })
    .then(data => {
        console.log(data)
    })
    .catch(err => {
        console.error('Erro ao busca dados da api', err)
    })
</script>